# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/json_assistant_history.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/pyProjectModel.xml
/ReDEeP-ICLR.iml
/vcs.xml
/misc.xml
*.xml
*.iml